<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск</title>
</head>
<body>

<form th:method="GET" th:action="@{/books/search1}">

    <label for="query">Введите поисковый запрос</label>
    <input type="text" th:value="${query}" id="query" name="query"/>
    <br/>
    <input type="submit" value="искать"/>

</form>


<div th:if="${books.isEmpty()}">
    <p>Книг не найдено</p>
</div>
<!-- else -->
<div th:unless="${books.isEmpty()}">

    <div th:each="book : ${books}">
        <a th:text="${book.getTitle() +', ' + book.getAuthor() + ', ' + book.getYear()}">user</a>
        <div th:if="${book.getOwner()==null}">
            <a>Книга свободна</a>
        </div>
        <div th:unless="${book.getOwner()==null}">
            <a th:text="${'Книга сейчас у: ' +book.getOwner().getFio()}"></a>
        </div>
    </div>

</div>

</body>
</html>