<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новый человек</title>
</head>
<body>

<form th:method="POST" th:action="@{/people}" th:object="${person}">

    <label for="fio">Введите ФИО</label>
    <input type="text" th:field="*{fio}" id="fio"/>
    <div style="color:red" th:if="${#fields.hasErrors('fio')}" th:errors="*{fio}">Name error</div>
    <br/>
    <label for="year">Введите год рождения</label>
    <input type="text" th:field="*{year}" id="year"/>
    <div style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Name error</div>
    <br/>
    <input type="submit" value="создать"/>

</form>

</body>
</html>